:root{
    --primary-color:orangered;
    --section-background:rgba(214, 166, 10, 0.363);
    font-family: 'poppins', sans-serif;
    background-color: rgb(1, 1, 27);

}
*{
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
body{
    background-color: rgb(1, 1, 27);
}
header{
    display: flex;
    justify-content: space-between;
    padding:30px 30px;
    box-shadow: 0 4px 6px gray;
    z-index: 1000;
    width: 100%;
    top:0;
    position:fixed;
    background-color:rgb(1, 1, 27); 
}
.logo a{
    font-family: arial;
    padding-left: 50px;
    display: flex;
    text-decoration: none;
    
}
.logo img{
    height:30px;
}
.logo p{
    padding-top: 5px;
    color:white
}

button{
    background-color:var(--primary-color);
    border:none;
    border-radius: 5px;
    width:10vw;
    height: 05vh;
    color:white;
    font-size: 15px;
   
}
.but2 button{
    background-color: transparent;
    border:2px solid orangered;
}
nav ul {
    display: flex;
    gap:50px;
    overflow: hidden;
}
nav ul li{
  float:left;
}
nav ul li a{
    font-family: arial;
    font-size: 18px;
    text-decoration: none;
    color:white;
}
#ora a{
    color: var(--primary-color);
}
h2{
    font-size: 15vh;
    text-align: center;
    color:var(--primary-color);
    margin-top: 20vh;
}
.container{
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    margin-top:5vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.works{
    width: 40vw;
    height: 53vh;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px gray;
    align-items: center;
    padding:20px;
    background-color: white;
    
}
.works img{
    width: 35vw;
    height: 40vh;   
}
footer{
    width: 100%;
    background-color: rgba(3, 3, 88, 0.644);
  }
  .bigger{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10vh;
  }
  /* .log{
   display: flex;
   flex-direction: column;
    gap: 20px;
  } */
  .log a{
    color:white;
    align-items: center;
    display: flex;
    flex-direction:row;
  }
  .log img{
    height: 5vh;
  }
  .quick {
    color:white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color:gray;
    align-items: center;
    
  }
  .social{
    display: flex;
    gap:0.3rem;
    /* flex-direction: column; */
  }
  .two{
   display: flex;
   align-items: center;
   color:white;
   
  }
  .social img{
    height: 4vh;
    /* width: 3vw; */
   
  }
  .contact{
    color:gray;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  textarea{
    height: 5vh;
  }
   .copy{
    color:gray;
    font-size: 2vh;
   }

